	#topNavbar{
		background-color:#B6B6B6;
		font-size:18px;
	}
	#mainNav{
		color:#B6B6B6;
	}
	#mainNav > ul > li {
		text-align: center;
	}
	#topLogo{
		text-align: center;
		margin-bottom: 20px;

		}
	#bottomNav{
		background-color:#B6B6B6;
		padding-bottom: 15px;
		font-size: 16px;
	}
	.swirldivider{
		margin:auto;
		display:block;
	}	

	.white-text{
		color: white !important;
	}
	.gray-text{
		color: #B6B6B6;
	}
	#imgMargin{
		margin-top: 15px;
	}
	.socialMedia{
		height: 30px;
		width: 30px;
	}
	.verticalCenter{
		margin-top: 4px

	}

	.navbar-right > li {
		float:right;
	}
	.socialCentering{
		/*margin-left:25px;*/
	}
	.overlaybox {
		height: 197px;
	}
	.overlaybox img {
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.overlay{
		width:262.5px;
		height:196.875px;
		background-color:black;
		opacity:.5;
		position:absolute;
		top: 0px;
		left: 0px;
	}